<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %></li>
  <% end %>
  <li><%= link_to "Ajouter une recette", new_recipe_path %></li>
  <li><%= link_to "Retour au dashboard", dashboard_path %></li>
</ul>
