<h1><%= @recipe.name %></h1>

<p>Temps de cuisson : <%= @recipe.cooking_time %>min</p>
<p>Pour :
  <% if @recipe.party == 1 %>
    <%= @recipe.party %> personne
  <% else %>
    <%= @recipe.party %> personnes
  <% end %>
</p>

<h2>Ingredients</h2>
