<ul>
  <% @categories.each do |category| %>
  <li><%= link_to category[0], recipes_path(category: category[0]) %></li>
  <% end %>
  <li><%= link_to 'Ajouter une recette', new_recipe_path %></li>
</ul>
