<h1>Mes kiwishlists</h1>

<ul>
  <% if @wishlists != nil %>
    <% @wishlists.each do |wishlist| %>
      <li><%= link_to wishlist.name, wishlist_path(wishlist) %></li>
    <% end %>
  <% end %>
  <li><%= link_to "Créer une nouvelle kiwishlist", new_wishlist_path %></li>
</ul>
