<h1>Mes wishlists</h1>

<ul>
  <% @wishlists.each do |wishlist| %>
    <li><%= link_to wishlist.name,  wishlist_path(wishlist) %> <%= link_to "", wishlist_path(wishlist), class: "fas fa-trash", method: :delete, data: { confirm: "Supprimer cette wishlist ?" } %></li>
  <% end %>
</ul>

<%= link_to "Créer une nouvelle wishlist", new_wishlist_path %>
